/* General Info */
* {
  font-family: "Times New Roman", Times, serif;
}
.container {
  width: 800px;
  margin: 0 auto;
}

/* Header */
header {
  background-image: url("../img/pattern.png");
  background-size: 30%;
  background-repeat: repeat;
  background-color: #4ea0ff;
  background-position: top;
  height: 60px;
}
.logo {
  width: 120px;
  height: auto;
  padding: 25px 0 0 5px;
}

/* Sezioni */
h1 {
  margin-bottom: 5px;
  font-size: 30px;
}

.info-author {
  color: #838383;
  line-height: 15px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #49b8e9;
}

.data {
  font-size: 11px;
}

#img-1 {
  width: 52%;
}

#img-2 {
  width: 44%;
}

.caption {
  font-size: 10px;
}

.content {
  font-size: 14px;
}

ul {
  padding-left: 0;
  margin-left: 12px;
}
